/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body {
    font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 1200px;
    background-color: white;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container {
    width: 1180px;
    margin: 0px auto;
}

/* ======================== HEADER ======================== */

.header {
    background-color: rgb(94, 83, 115);
    min-height: 5vh;
}

.header__row {
    display: flex;
    justify-content: space-between;
    min-height: 6.7vh;
    align-items: center;
}

.header__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ece89d;
}

.menu__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu__link {
    display: flex;
    padding: 10px;
    /*----margin: 10px;*/
    background-color: khaki;
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.menu__list li + li{
    margin-left: 20px;
}

.menu__link--tut {
    background-color: rgb(248, 146, 106);
}

.link_text {
    font-size: 18px;
    font-weight: 600;
}

a:link {
    color: rgb(73, 73, 73);
    text-decoration: none;
}
a:visited {color: rgb(73, 73, 73);}
a:hover {color: #EF7D55;}


/* ======================== MAIN ======================== */
.main {
    background-color: #ffefc3;
    border-left: rgba(94, 83, 115, .5) solid 1px;
    border-right: rgba(94, 83, 115, .5) solid 1px;
    min-height: 86.6vh;
}


.content {
    flex: 1 1 auto; /* Чтоб прижало подвал */
}


.ssilki {
    padding: 20px 30px 30px;
}

.ssilki__h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(94, 83, 115);
}

.ssilki__block {
    margin: 15px 30px;
}

.ssilki__title {
    margin: 30px 0;
    font-size: 25px;
    color: rgb(64, 57, 78);
}

.ssilki__subtitle {
    margin: 10px 35px;
    font-size: 25px;
    color: rgb(94, 83, 115);
}

.ssilki__item {
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 600;

    margin: 0px 55px;
}

/* ============ КНОПОЧЬКИ ============ */

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.like + .lomalka-button {
    margin-left: 50px;
}

.like, .lomalka-button {
    border: 1px solid rgb(0, 119, 255);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
    color: rgb(0, 119, 255);
    white-space: pre;
}

.like--added {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(0, 119, 255);
    color: rgb(255, 255, 255);
}

.lomalka-button {
    border: 1px solid rgb(255, 21, 110);
    color: rgb(255, 21, 110);
}

.lomalka-button--added {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 21, 110);
    color: rgb(255, 255, 255);
}

/* ============ /КНОПОЧЬКИ ============ */

/* ============ После поломания ============ */
.bidlo {
    font-size: 150px;
}

.sad {
    margin-top: 50px;
    margin-left: 50px;
    width: 250px;
    height: 200px;
    background: rgb(0, 0, 0);
    position: relative;
}

.sad::before, .sad::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 40px;
    background: rgb(255, 255, 255);
    top: 40px;
    animation: eye 3s ease-in-out infinite;
}

.sad::before { left: 50px; }
.sad::after { right: 25px; }

.rot {
    position: absolute;
    margin-left: 100px;
    margin-top: 130px;
    width: 75px;
    height: 10px;
    background: rgb(255, 255, 255);
    animation: rot 5s ease-in-out infinite;
}

@keyframes eye {
    85% { transform: none; }
    95% { transform: scaleY(0); }
}

@keyframes rot {
    0% { transform: none; }
    20% { transform: scale(0.5, 5); }
}

/* ============ /После поломания ============ */

.LOREM {
    font-size: 25px;
}



/* ======================== FOOTER ======================== */

.footer {
    background-color: #292929;
    /* Норм цвета еще 3c3c3c и черный с белым */
}

.footer__row {
    display: flex;
    justify-content: space-between;

    min-height: 6.7vh;
    align-items: center;
}

.footer__text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.cats__text {
    font-size: 12px;
}

.cats__text p + p {
    margin-top: 10px;
}