/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body {
    font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
    min-width: 1200px;
    background-color: rgb(243, 237, 230);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* ======================== HEADER ======================== */

.header {
    background-color: rgb(94, 83, 115);
}

.header__row {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;   
}

.header__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ece89d;
}

.menu__list{
    display: inline-flex;
    list-style-type: none;
}

.menu__link {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: khaki;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    justify-content: center;
    align-items: center;
}

.link_text {
    font-size: 18px;
    font-weight: 600;
}

a:link {
    color: rgb(73, 73, 73);
    text-decoration: none;
}
a:visited {color: rgb(73, 73, 73);}
a:hover {color: #EF7D55;}

/* ======================== MAIN ======================== */

.content {
    flex: 1 1 auto; /* Чтоб прижало подвал */
}

.block {
    text-align: center;
    background-color: rgb(245, 245, 245);
}
.block__row {
    display: flex;
    border: 10px solid #ece89d;
    margin: 0 0 10px 0;
    align-items: flex-start;
}
.block__column {
    border: 10px solid #5e5357;
}
.block__item {
    background-color: #18b5a4;
    padding: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    width: 150px;
}

/* ======================== FOOTER ======================== */

.footer {
    background-color: #5e5373;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
}



.ssilki {
    padding: 10px 30px;
    margin-bottom: 20px;

    background-color: #ffefc3;
    border: rgba(94, 83, 115, .5) solid 1px;
    border-radius: 5px;
}

.ssilki__h1 {
    font-size: 30px;
    color: rgb(53, 47, 65);
}

.ssilki__block {
    margin: 15px 30px;
}

.ssilki__title {
    margin: 30px 0;
    font-size: 25px;
    color: rgb(64, 57, 78);
}

.ssilki__subtitle {
    margin: 10px 35px;
    font-size: 25px;
    color: rgb(94, 83, 115);
}

.ssilki__item {
    font-size: 15px;
    line-height: 1.2em;
    font-weight: 600;

    margin: 0px 55px;
}

img {
    border-radius: 50%;
}